<CascadingValue Value="this" IsFixed>
    @{
        StartCollectingChildren();
    }
    @ChildContent

    <Defer>
        @{
            FinishCollectingChildren();

            ProcessDataAsync();
        }

        @foreach (var o in _childComponents)
        {
            <p>@o.Title</p>
        }
    </Defer>
</CascadingValue>